@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

input, select, textarea {
  color: #171717;
}
