{
  "scriptId": "YOUR_SCRIPT_ID_HERE",
  "rootDir": "."
}

Spreadsheet ID: 1sl_wMix78sXFR0NXYdI94B0pYC3Nt7e80ffwCm7mkoY
Script ID: 149ota6IFbh7bT-5nmq0fH0Ac3aKnCHpxV1DHimBKdPdqcl8CzAqnAQpH
Dployment ID: AKfycbyBk0WO4hsKIvGkNxZkmqEvbu01tQiLKIjyN5ls1TyJoYAmq0HnrbE5tWDBjSNEEfcL
Web app URL: https://script.google.com/macros/s/AKfycbyBk0WO4hsKIvGkNxZkmqEvbu01tQiLKIjyN5ls1TyJoYAmq0HnrbE5tWDBjSNEEfcL/exec
Library URL: https://script.google.com/macros/library/d/149ota6IFbh7bT-5nmq0fH0Ac3aKnCHpxV1DHimBKdPdqcl8CzAqnAQpH/2
